* {
    box-sizing: border-box;

}

button.round {
    border-radius: 50%;
    background-color: #505050;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    font-size: large;
}

button.round:active {
    background-color: #D4D4D2 ;
}