* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wordleGridContainer {
    width: 500px;
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordleGridBoard {
    width: 330px;
    height: 397px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    text-align: center;
}

.wordleBox {
    border: #dcdcdc 2px solid;
    /*border-radius: 10px*/
}


.keyboardButtonSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyBoardRow {

}

.singleButton {
    width: 43px;
    height: 58px;
    background-color: #d3d6da;
    border-radius: 4px;
    margin: 0 5px 5px 0;
    border: none;
    font-family: "Franklin Gothic Book", serif;
    font-weight: bolder;
    font-size: large;
}

.testingKeyboardPresses {
    border: 1px dashed red;
    width: 50%;
    height: 30%;
}


.fx {
    -webkit-display: flex;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.fx > div {
    padding-left: 20px;
    padding-right: 20px;
}

.fx > div:first-child {
    width: 30%;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
}

#test-target {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}



